/* 
    Document   : micss
    Created on : 21/08/2012, 12:37:10
    Author     : gabix
*/
body {
    font-family: "Helvetica", sans-serif;
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    color:#5f5f5f;
    background-color: #dad3c3;
    background: url(../img/twill.png) repeat;
    margin-top: 60px;
}
.alleft {
    text-align: left;
}
.alright {
    text-align: right;
}
.alcent {
    text-align: center;
}
a {
    color: #CF2631;
    border: 0px;
    font-weight: bolder;
    text-decoration: none;
}
a:hover {
    color: #6F141C;
}
a:active {
    color: #6F141C;
}

hr {
    margin: 20px 100px 20px 100px;
    border-color: #5f5f5f;
    border-style: dashed;
    border-width: 1px 0 0;
    height: 0;    
}

h1 {
    margin: 6px 10px 0px 10px;
}
h3 {
    margin: 3px 10px 3px 10px;
    color: #CF2631;
    text-align: right;
    font-style: italic;
}
h4 {
    margin: 3px 10px 6px 10px;
    text-align: left;    
}
p {
    margin: 3px 10px 3px 10px;
    
    text-align: justify;
}
p.p_it {
    margin: 3px 15px 3px 15px;
    font-style: italic;
}
ul, li {
    text-align: left;
}
tr, td {
    margin: 1px;
    padding: 1px
}
img {
    border: 0px;
}
a.b_ico {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
a.b_ico:hover{
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity: 0.8;
}
a.b_ico.select {
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity: 0.8;
}
button.b_flechitas {
    margin: 0px;
    padding: 0px;
    border-style: none;
    background  : none;
    cursor  : pointer;
}
img.im_ico {
    height: 60px;
    width: 60px;
}
img.im_contacto {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}
img.im_banderitas {
    width: 25px;
    height: 15px;
    margin: 1px;
}
#im_vero {
    height: 250px;
    margin: 5px 0px 5px 15px;
    padding: 5px;
    float:right;
    border: 2px solid #5f5f5f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
img.im_flechitas {
    width: 20px;
    height: 20px;
}

#d_tarj {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: url(../img/subtle_dots.png) repeat;
    background-color: #FFFFFF;
    border-color: #9F9F9F;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}
#d_icos {
    float: left;
    text-align: center;
    padding: 20px 0px 0px 0px;
    width: 90px;
    height: 280px;
}
div.d_contenido {
    float: right;
    margin: 0px 0px 0px 5px;
    width: 500px;
}
#d_felchitas {
    float: right;
    margin: 10px 0px 10px 5px;
    width: 500px;
}
#d_banderitas {
    width: 550px;
    position: relative;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#d_granBaq {
    width: 1000px;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: url(../img/subtle_dots.png) repeat;
    border: 5px #CF2631 solid;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}
div.d_pequeBaq {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 10px;
    border: 5px #9F9F9F solid;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}