/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    font-weight: bolder;
    color: #fff;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.5);
}

hr {
    margin: 0px 20px 20px 0px;
    border-color: #ffffff;
    border-style: dashed;
    border-width: 1px 0 0;
    height: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #dad3c3;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background-color: #dad3c3;
    background: url(../img/twill.png) repeat;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 25px;
}

.masthead-nav > li > img {
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.5);
}
.masthead-nav > .active > img {
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

img.im_ico {
    height: 40px;
    width: 40px;
}

/*
 * Cover
 */

.cover {
    margin: 10px;
    padding: 20px;

    background-color: rgba(0,0,0,.10);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}
.contenido {
    text-align: justify;
}

#im_vero {
    height: 250px;
    float:right;
}

img.im_flechitas {
    width: 20px;
    height: 20px;
}

/*
 * Footer
 */
.mastfoot {
    color: #a9a9a9; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    float: right;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
